/*
Author: jan
Date: 28-mei-2014
*/
/*
    Created on : 28-mei-2014, 12:26:05
    Author     : jan
*/
.image .enlargeThis a {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    padding-left: 16px;
    background: url(../images/icons/enlarge_icon.gif) no-repeat center left;
    text-decoration: none;
    display: inline;
}
.image .enlargeThis {
    display: block;
 /*   text-align: right;*/
    margin-bottom: 2px;
}